*{
	margin:0;
	padding: 0;
}
body
{
	background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.8)),url("images/book5.gif");
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	font-family: Arial;
}
nav
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
	padding: 10px 30px;
	box-sizing: border-box;
	background: rgba(0, 0, 0, 0.6);
	border-bottom: 1px solid #eef;
}
.logo img
{
	margin-left: -20px;
	float:left;
	width:180px;
	height:100px;
}
nav ul 
{
	list-style: none;
	float: right;
	margin: 0;
	padding: 0;
	display: flex;
}
nav ul li a
{
	line-height: 80px;
	color: #fff;
	padding: 12px 30px;
	text-decoration: none;
	font-size: 17px;
	font-weight: bold;
	text-transform: uppercase;
	transition: 0.8s;
}
nav ul li a:hover
{
	background: #eef;
	border-radius: 25px;
	color: black;
}
ul li.active a{
	background-color:#eee;
	color:black;
	border-radius: 25px;
}
.title
{
	position:absolute;
	top:40%;
	left:35%;
	transform:translate(-50%,-50%);
}
.title h1
{
	color:#fff;
	font-size:75px;
}
p
{
	position:absolute;
	top:55%;
	left:45%;
	transform:translate(-50%,-50%);
	color:#fff;
	font-size:30px;
}
.button{
	position:absolute;
	bottom:10%;
	right:0%;
	transform:translate(-50%,-50%);
}
.btn{
	border:1px solid #eef;
	padding:10px 30px;
	color:white;
	border-radius: 25px;
	transition: 0.7s;
}
.btn:hover{
	background-color:#eef;
	color:black;
	background-position: 200px 0;
}
.reg
{
	border: 1px;
}
